name: Make Video

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Setup
      run: sudo apt update && sudo apt install -y ffmpeg
      
    - name: Create video
      run: |
        ffmpeg -f lavfi -i color=c=blue:s=640x360:d=5 -f lavfi -i sine=frequency=1000:duration=5 -c:v libx264 -c:a aac output.mp4
        ls -lh output.mp4
        
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: my-video
        path: output.mp4
